@media (max-width: 767px) {
    /** MAKE TOGGLE NAVBAR WORK WITH 512px small device **/
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display: block !important;
	}
    /** MAKE TOGGLE NAVBAR WORK WITH 512px small device **/
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
    
    .navbar-inverse .navbar-nav > li > a {
        font-size: 1.3em;
    }
    
    .dropdown-menu {
        background-color: #E39031;
    }
    /** MAIN **/
	.main-title {
        margin: 0;
		padding: 3em 0 2.5em 0;
	}
    
    .main-title div:first-child img {
        margin-top: 20px;
    }
    
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #EEEEEE;
    }
    
    .navbar-inverse .navbar-nav > li > a.current:before {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        content: '\f1d1';
        margin-right: 10px;
    }
    
    .navbar-inverse .navbar-nav > li > a.current:after {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        content: '\f1d1';
        margin-left: 10px;
    }
    
    .main-skills {
        /*padding: 2em 0;*/
    }
    
    .main-experience {
        /*padding: 2em 0;*/
    }
    
    .main-studies {
        /*padding: 5em 0;*/
    }
    
    .content-container {
        height: 25em;
    }
    
    .content-container .title {
        font-size: 1.4em;
        font-weight: 600;
    }

    .content-container .description {
        font-size: 0.9em;
        font-weight: 400;
    }
    
    .content-container .description.english-level {
        font-weight: 600;
    }

    .content-container .date {
        font-size: 0.9em;
        font-weight: 300;
    }
    
    .experience-title, .skills-title, .studies-title {
        margin: 2em 0;
        border-bottom: 1px solid #E39031;
    }

    .experience-title i, .skills-title i, .studies-title i {
        color: #E39031;
    }

    .experience-title span, .skills-title span, .studies-title span {
        font-size: 1.5em;
        font-weight: 600;
        margin-left: 1em;
    }
    
    .skill {
        display: block;
        font-size: 1.2em;
        font-weight: 500;
        margin: 1.5em 0;
        cursor: pointer;
    }
    /** END MAIN **/
    
    /** ACADEMIC PROJECTS **/
    .project {
        padding: 3em 0 0 0;
    }
    
    .academic_project_title {
        border-bottom: 1px solid #E39031;
        margin: 2em 0;
    }
    
    .academic_project_title i {
        color: #E39031;
    }
    
    .list-group-item i.icon {
        /*font-size: 24px;*/
    }
    
    .academic_project_title span {
        font-size: 1.5em;
        font-weight: 500;
        margin-left: 1em;
        /*display: inline-block;*/
    }
    
    .panel-brand {
       margin: 20px 0;
    }
    /** END ACADEMIC PROJECTS **/
    
    .social {
        margin: 0.5em 0;
    }
    
    .social li, .social li:first-child {
        margin-right: 0.5em;
    }
}