@media (min-width: 768px) {
    /** MAIN **/
    .content-container {
        height: 30em;
    }

    .content-container .content .title {
        font-size: 2em;
        font-weight: 600;
    }

    .content-container .content .description {
        font-size: 1.5em;
        font-weight: 400;
    }
    
    .content-container .content .description.english-level {
        font-weight: 600;
    }

    .content-container .content .date {
        font-size: 1.5em;
        font-weight: 300;
    }
    /** END MAIN **/
}