@media (max-width: 767px) {
    /** MAIN **/
    .content-container {
        height: 25em;
    }
    
    .content-container .content .title {
        font-size: 1.4em;
        font-weight: 600;
    }

    .content-container .content .description {
        font-size: 0.9em;
        font-weight: 400;
    }
    
    .content-container .content .description.english-level {
        font-weight: 600;
    }

    .content-container .content .date {
        font-size: 0.9em;
        font-weight: 300;
    }
    /** END MAIN **/
}

@media (max-width: 991px) {
    #about {
        text-align: center;
    }
}